<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width" />
        <title>Travel App</title>
		<script src="https://kit.fontawesome.com/5073668761.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Questrial&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="logo">
                <p>It's time to travel!</p>
            </div>
            <div>
                <p>Check the weather conditions of the place you are going to, pack what is needed and be ready! </p>
            </div>
        </header>

        <main>
            <section>
                <form class=""> 
                    <div class="p-icon">
                        <i class="fa-solid fa-route fa-lg fa-fw"></i><p>Where would you like to travel to?</p>                   
                    </div>
                    <input id="city" type="text" name="input" value="" placeholder="City and/or country">
                    <div class="p-icon">
                        <i class="fa-solid fa-calendar-days fa-lg fa-fw"></i><p>When are you planning to go?</p>
                    </div>
                    <div id="form-dates">
                        <!-- <div> -->
                            <p>Depart:</p>
                            <input id="start-date" class="end-max" type="date" min="" max="">
                        <!-- </div>
                        <div> -->
                            <p>Return:</p>
                            <input id="end-date" class="end-max" type="date" min="" max="">
                        <!-- </div> -->
                    </div>

                    <button id="button" name="" onclick="callback()">SUBMIT </button>
                </form>
            </section>
        </main>
        <div id="results">
            <div id="first-sec">
                <div id="city-info">
                    <div class="row">
                        <div class="imp place-name">
                            <i class="fa-solid fa-location-dot"></i><span id="nameofplace"></span>
                        </div>
                    </div>
                    <div>
                        <p>Typical weather for then is:</p>
                        <div id="temperature"></div>
                        <div class="row">
                            <div class="">Feels like: <span id="temp-like"></span></div>
                        </div>
                    </div>
                    <div id="wrong-city">
                        It is not the place you were looking for? Try typing again in format <em>city, country</em>.<br>
                    </div>
                </div>
            </div>
            <div id="second-sec">
				<div id="box-weather">
                    <p id="departure-date"></p>
                    <div class="box-1">
                        <div id="min-temp"></div>
                        <div id="max-temp"></div>
                        <div id="wind"></div>
                        <div id="precipitation"></div>
                    </div>
                    <div class="box-1">
                        <div id="sunrise"></div>
                        <div id="sunset"></div>
                        <div id="uv-index"></div>
                        <div id="cloud-cover"></div>
                    </div>
				</div>
                
            </div>
            <div id="other-days">
                <div><p>Your trip has a length of <span id="length"></span>. Here is the forecast for the following days:</p></div>
                <div id="more-forecast">
                    <!-- <div class="additional">
                        <div id="date">05/23/2022</div>
                        <div id="min-temp" class="col"><span>Lowest T°</span>25</div>
                        <div id="max-temp" class="col"><span>Highest T°</span>32</div>
                        <div id="rainy" class="col"><span>Rainy</span>40%</div>
                        <div id="humidity" class="col"><span>Humidity</span>25%</div>
                    </div>
                    <div class="additional">
                        <div id="date">05/24/2022</div>
                        <div id="min-temp" class="col"><span>Lowest T</span>28</div>
                        <div id="max-temp" class="col"><span>Highest</span>35</div>
                        <div id="rainy" class="col"><span>Rainy</span>20%</div>
                        <div id="humidity" class="col"><span>Humidity</span>29%</div>
                    </div> -->
                </div>
            </div>
        </div>
        
        <footer>
            <p>© Dyane Avalos</p>
        </footer>   
        <!-- To fill in the value of the min attribute in <input type="date"> -->
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {	
                document.getElementById('start-date').min = Client.dates.today;
                document.getElementById('start-date').max = Client.dates.day16th;
                document.getElementById('end-date').min = Client.dates.tomorrow;
                document.getElementById('end-date').max = Client.dates.day16th;
            });

            function callback() {
                // update formHandler para q retorne el data
                const data = Client.formHandler(event);

            }
        </script>   
    </body>
</html>
