<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment/Emotion Analyzer</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Questrial&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="logo">
                Travel app
            </div>
        </header>

        <main>
            <section>
                <form class="">                    
                    <input id="city" type="text" name="input" value="" placeholder="INSERT CITY HERE">
                    <input id="button" type="submit" name="" value="SUBMIT" onclick="Client.formHandler(event)">
                </form>
         <section>
                </form>
            </section>

            <section>
                <div id="results">
                </div>
            </section>
        </main>

        <footer>
            <p>© Dyane Avalos</p>
        </footer>      
    </body>
</html>
