main {
    grid-area: main-area;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // display: block;
    // overflow: hidden;
    background-image: url(../media/weather-bg.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    color: white;
    font-size: 1em;
}

section { 
    width: 30%;
    background-color: #0A2239;
    margin: 3em;
    padding: 3em;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

input {
    height: 4vh;
    width: 100%;
    font-family: 'Questrial', sans-serif ;
}

#button {
    background-color: #E59500;
    font-weight: 900;
    height: 4vh;
    width: 100%;
    margin-top: 2em;
    border-radius: 25px;
    box-shadow: 2px 4px white;
}

#button:hover {
    cursor: pointer;
}


#form-dates {
    display: flex;
    flex-direction: column;
}

#form-dates p {
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.p-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#title {
    background-color: black;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 2em;
}

/* Forecast section */

#results {
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

#first-sec {
    width: 90%;
    background-color: white;
    // background-image: url(../media/brooklyn.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    
    border-radius: 15px;
    padding: 3em;
    margin: 3em;
    #temperature {
        font-size: 6em;
        font-weight: 900;
    }
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 900;
        padding-bottom: 10px;
        i {
            padding-right: 5px;
        }
        .place-name {
            text-decoration: underline 5px #E59500;
            i {
                color: #E59500;
            }
        }
    }
}

// #second-sec {
//     display: none;
// }

// #other-days {
//     display: none;
// }

#city-info {
    background-color: white;
    opacity: 0.7;
    padding: 1.5em;
    #wrong-city {
        text-transform: uppercase;
        font-size: 0.7em;
    }
    .imp {
        font-size: 1.5em;
    }
}


#box-weather {
    -webkit-box-shadow: 0 0 2em grey;
    box-shadow: 0 0 2em grey;
    width: 40vw;
    background-color: #0A2239;
    color: white;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.box-1{
    display: flex;
    flex-direction: column;
    div {
        padding: 0.5em;
        i {
            color: #6290C3;
            padding-right: 15px;
        }
    }
}

#length {
    font-weight: 900;
    color: #E59500;
}

#other-days{
    visibility: hidden;
    #more-forecast {
        margin-bottom: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        .additional {
            border: 0.2em solid #0A2239;
            border-radius: 25px;
            width: 40vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 2em;
            margin: 0.5em;
            .col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span {
                    font-size: 0.6em;
                    padding-bottom: 10px;
                    color: #E59500;
                }
            }
        }
    }
}


/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) and (max-width: 889px){
    section {
        width: 50%;
    }

    #first-sec {
        width: 80vw;
    }

    #box-weather {
        width: 60vw;
    }

    .additional {
        min-width: 60vw;
    }
}

/* For small screen devices (595px and below) */
@media only screen and (max-width: 595px) and (max-width: 767px){
    section {
        width: 50%;
    }

    #first-sec {
        width: 90vw;
    }

    #second-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #box-weather {
        width: 70vw;
        flex-direction: column;
        p {
            text-align: center;
        }
    }

    .additional {
        min-width: 70vw;
        font-size: 0.8em;
    }
}
