$font: 'Questrial', sans-serif;

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1 auto 1;
    grid-template-areas: 
        'header' 
        'main-area' 
        'footer';
    font-family: $font;
    padding: 0;
    margin: 0;
}
